#free99{
    text-align: center;
    font-size: 70px;
    color: teal;
}
#zip{
    text-align: center;
    width: 200%;
    font-weight: bold;
}
#jumbo{
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    border-bottom: 10px solid white;
    border-top: 10px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    
    
}
#searchbutton{
    background-color: black;
    color: darkred;
    font-weight: bold;
    
}
body{
    /* background-color: aqua !important; */
    background-image: url("https://hips.hearstapps.com/housebeautiful.cdnds.net/16/52/3200x1775/gallery-1482948507-sideboard-collage.jpg?resize=768:*"); 
    width: 100%;
  
}
.search{
   margin-top: 10%;
}
#createbutton{
    background-color: black;
    color: darkred;
    margin-top: 15%;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
}
#createbutton:hover{
    background-color: teal;
    color: black;
}
#searchbutton:hover{
    background-color: teal;
    color: black;
}

.one {
    background: rgba(255,255,255,0.5);
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
