#free99{
    text-align: center;
    font-size: 70px;
    color: teal;
}
#zip{
    text-align: center;
    width: 200%;
    font-weight: bold;
}
#jumbo{
    font-family: 'Courier New', Courier, monospace;
    background-color: darkred;
    border-bottom: 0px solid white;
    border-top: 0px solid white;
    border-left: 0px solid white;
    border-right: 0px solid white;
    padding: 0%;
    margin: 0%;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px
}
#searchbutton{
    background-color: darkred;
    color: black;
    font-weight: bold;
    
}
.background{
    /* background-color: aqua !important; */
    background-image: url("https://hips.hearstapps.com/housebeautiful.cdnds.net/16/52/3200x1775/gallery-1482948507-sideboard-collage.jpg?resize=768:*"); 
    height: 1200px;
  
}
.search{
   margin-top: 0%;
}
#createbutton{
    background-color:darkred;
    color: black;
    margin-top: 15%;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
}
#createbutton:hover{
    background-color: teal;
    color: black;
}
#searchbutton:hover{
    background-color: teal;
    color: black;
}

.one {
    background: rgba(255,255,255,0.5);
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
